<div class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-item" >
      <div class="sidebar-logo" align="center" href="{{ site.baseurl }}/">
        <img src="{{ site.url }}/images/lain_by_leaglem.png" width="120" height="126" />
      </div>
    </div>
    <div class="sidebar-item">
      {% include nav.html %}
    </div>
    <div class="sidebar-item">
      <div class="sidebar-title">
        <p>
          {{ site.title }}
        </p>
      </div>
    </div>
  </div>
</div>
